<h1 class="text-black text-2xl font-bold py-3">Procesar Archivo</h1>
<div class="w-full max-w-sm">
<%= form_with(url: procesar_path, local: true, multipart: true, class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4") do %>
    <div class="mb-6">
        <%= label_tag(:archivo, "Subir Archivo", class: "block text-gray-700 text-sm font-bold mb-2") %>
        <%= file_field_tag(:archivo, accept: 'text/csv', class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") %>
    </div>
    <div class="md:flex md:items-center">
        <div class="md:w-1/3"></div>
        <div class="md:w-2/3">
            <%= submit_tag("Enviar", class: "shadow bg-blue-500 hover:bg-blue-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded") %>
        </div>
    </div>
<% end %>
</div>

<%= link_to("Regresar a index", root_path, class: "underline hover:text-purple-600 text-purple-800") %>