<h1>Procesar Archivo</h1>
<%= form_with(url: procesar_path, local: true, multipart: true) do %>
    <%= label_tag(:archivo, "Subir Archivo") %>
    <%= file_field_tag(:archivo, accept: 'text/csv') %>
    <%= submit_tag("Enviar") %>
<% end %>

<%= link_to "Regresar a index", root_path %>