<!DOCTYPE html>
<html>
  <head>
    <title>CodeChallengeCsvRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% flash.each do |_type, message| %>
        <%= content_tag(:div, message) %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
