<!DOCTYPE html>
<html>
  <head>
    <title>CodeChallengeCsvRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="p-6">
      <% flash.each do |type, message| %>
        <%= content_tag(:div, message, class: type == "error" ? "bg-red-600 p-5 text-white font-bold" : "bg-blue-600 p-5 text-white font-bold") %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
